.playlist {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .playlist__title {
    margin: 0 0 20px 0;
  }
  
  .playlist__form {
  }
  
  .playlist__selection {
    width: 98%;
    margin: 20px 0.5%;
    padding: 10px;
    box-sizing: border-box;
    border: 1.5px solid #000;
    background-color: #fff;
    
  }